.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus {
    outline: 0;
}

.slides,
.flex-control-nav,
.flex-direction-nav {
    margin: 0;
    padding: 0;
    list-style: none;
}

.flexslider {
    margin: 0;
    padding: 0;
}

.flexslider .slides {
	list-style: none;
	margin: 0;
	padding: 0;
}

.flexslider .slides > li {
    display: none;
    -webkit-backface-visibility: hidden;
}

.flexslider .slides img {
    width: 100%;
    display: block;
}

html[xmlns] .slides {
    display: block;
}

* html .slides {
    height: 1%;
}

.no-js .slides > li:first-child {
    display: block;
}

.flexslider {
    margin: 0;
    position: relative;
    zoom: 1;
}

.flex-viewport {
    max-height: 2000px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

.loading .flex-viewport {
    max-height: 300px;
}

.flexslider .slides {
    zoom: 1;
}

.carousel li {
    margin-right: 5px;
}

.flex-direction-nav {
    *height: 0;
}

.flex-direction-nav a {
    display: block;
    width: 30px;
    height: 30px;
    margin: 0;
    position: absolute;
    top: 50%;
    z-index: 10;
    overflow: hidden;
    cursor: pointer;
    color: #e1e1e1;
    text-align: center;
    line-height: 30px;
    font-family: 'FontAwesome';
    text-decoration: none !important;
}

.flex-direction-nav .flex-prev {
    left: 0;
}

.flex-direction-nav .flex-next {
    right: 0;
}

.flex-direction-nav .flex-disabled {
    opacity: 0 !important;
    filter: alpha(opacity=0);
    cursor: default;
}

.flex-control-nav {
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    line-height: 10px;
    z-index: 50;
}

.flex-control-nav li {
    margin: 0 3px;
    display: inline-block;
    zoom: 1;
    *display: inline;
}

.flex-control-paging li a {
    width: 10px;
    height: 10px;
    display: block;
    background: #f2f2f2;
    cursor: pointer;
    text-indent: -9999px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,.15);
    -moz-box-shadow: inset 0 0 5px rgba(0,0,0,.15);
    -o-box-shadow: inset 0 0 5px rgba(0,0,0,.15);
    box-shadow: inset 0 0 5px rgba(0,0,0,.15);
}

.flex-control-paging li a:hover {
    background: #2aadde;
}

.flex-control-paging li a.flex-active {
    background: #2aadde;
    cursor: default;
}